#main_title {
    font-size: 15pt;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: #aaa 1px dotted; 
    margin: 15px 15px 15px 15px;
}

#main_content {
    margin: 20px 20px 20px 20px;
}