.date_title {
    margin: 15px;
}
.title {
    font-size: 13pt;
    padding-bottom: 5px;
    margin: 10px 15px 15px 15px;
}

.description {
    margin: 10px 20px 10px 20px;
}

.time_stamp {
    float:right;
    font-weight: normal;
    font-size: 10pt;
    color: #777;
}

h3
{
    display: inline;
}

.post_time_stamp
{   
    float:right;
    font-weight: normal;
    font-size: 10pt;
    color: #777;
    margin-top: 15px;
}

.body 
{
    margin: 10px 20px 10px 20px;
}

.formatted_date
{
    font-size: 9pt;
    font-style: italic;
}

hr
{
    border: none;
    border-bottom: #aaa 1px dotted; 
    height: 0px;    
    margin: 5px 0px 10px 0px;
}
