.project {
    margin: 15px;
}

.project_title {
    font-size: 14pt;
    font-weight: bold;
    border-bottom: 1px #aaa dotted;
    margin-bottom: 5px;
    padding-bottom: 2px;
}

.project_title a:hover {
    text-decoration: none;
}

.details {
    font-size: 9pt;
    font-style: italic;
    font-weight: normal;
    float: right;
}

.project_description {
    font-size: 10pt;
}

.project_description a {
    font-style: italic;
}