{% extends "main_layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
<div id="main_content">
    <p>
        I am a current student at <a href="http://pomona.edu">Pomona College</a> in Claremont, CA studying Mathematics and Computer Science.  I have particular academic interests in AI/machine learning, number theory/cryptography, algebra, astronomy, politics, and philosophy.  I've recently become enthralled with functional programming and I'm trying to get a handle on languages such as Haskell, Idris, and Elm.
    </p>

    <p>
        I am looking forward to working with <a href="https://crypto.stanford.edu/~dabo/">Professor Dan Boneh</a> of Stanford this summer via the <a href="http://www.truststc.org/education/reu/index.html">TRUST REU</a>.
    </p>
    
    <p>
        Outside of school and work, I play ultimate frisbee for the <a href="http://claremontultimate.com">Claremont Braineaters</a>, play the violin, and compete with <a href="http://pomonamocktrial.org">Pomona Mock Trial</a>.  I also enjoy the great outdoors (especially backpacking and whitewater kayaking) and lead trips for <a href="http://otl.pomona.edu">On the Loose</a>.  I recently became the president of Pomona's new Chocolate Club.
    </p>
    
    <p style="font-size: 8pt;">
        <a href="{{ url_for("resume") }}">Looking for my resum&#x00E9;?</a>
    </p>

    <p>
    <a href="{{url_for("downloads", filepath="pgp.asc") }}">Download my PGP public key</a> or copy it below.
    </p>

    <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG/MacGPG2 v2.0.19 (Darwin)

mQENBFHT0+UBCADTOFGOtXE6+ItR2PXZIALgx0CDu6KytUia/rId+GPuSs0Kp1Ad
Tek5okuDC1qnpoEHpkYpFI3Y0KhPX1QFjCGyN3VJ5qmMYWLMqvmbep4cLp875H8q
x6u3rL+63cBK9hHHVCEk3aLa0LMqpf/+LvkpiNeZB5QIduY+LouiJeITjb2ksSGY
aDgz8lKTk4BzVWF5UFnPZSV+S3W03znl5nnvQy9XMTRDjjs5/ZminjDkkgdqErAk
YzmIGNgfsUtlPzhacmllpgIHDel0hy9JiQX352LFxyXpO5hNVy1ASthpdCsRN8g/
iYII1gMgUQY9YPRM5YcaZPR8ab3S2vkw5BjnABEBAAG0LEFuZHJldyBSdXNzZWxs
IDxhbmRyZXcucnVzc2VsbDAwMUBnbWFpbC5jb20+iQE9BBMBCgAnBQJR09YDAhsv
BQkHhh+ABQsJCAcDBRUKCQgLBRYCAwEAAh4BAheAAAoJEAsQTFl0UHj60ToIAJFB
mc9HqSmLA4Gr2NMyp2cn+U8D6PAhT+Zla8jO4o/BLL47QkVvlzODw2sXgmHB67/w
3g3Cm4P8gH+6jmLMglx4iJ+BFkelQ18bR4xqjtaxV4vK39Rwwn7ZPH7d2ByqnZB/
zT784pSGVOKHD55HWbdmKUxCdibAjAX65eI3VRBGtXTPJfVJxDlYx84gvBFByxMd
a+lXCSqeLd5cZrZepNLhwGklIW+ou8X92OWtH0TPFCUxj0B7tzDt1wFzsnqv2NMn
1fzmSeRYR7wlMwSQTwMJLRc4jWh5cVmfBYHPzcGE43neA8CqEvbGXOjLaBURV6Ci
eBj3TQ9o5WoXzAsMKcK0I0FuZHJldyBSdXNzZWxsIDxhbmRyZXdAZ2V0Y2xlZi5j
b20+iQE9BBMBCgAnBQJR09PlAhsvBQkHhh+ABQsJCAcDBRUKCQgLBRYCAwEAAh4B
AheAAAoJEAsQTFl0UHj65KIH/3ay9WYslb4GKF1JRJj8GjyPf6XQ9EAUDiYUM8ZU
L0vRMPLA8IKlPBevrp5He/5obH2Cptfs2FH7v+SIvszyCLFMku6Kgg5KwSTGP/2J
OuN/qrg97RXaMFiw7tZW+aqDk70z6IUuU1xNIouBKpSC9JmpIPMWpVTq7bB/TQF7
r90S0iQR3GRQH0Tk0GSAc4GSN/XkX7eYy9d/7Kk3CUd/DchxHHYwyIjYSzGUfQrj
YnpYhWkfGhPF7FxC+ZQnnV0OAkdOxnGx9+A03jUBgpZ0cRvs/t4ChuA6HB0GlIsa
ZNJChXztYsyvLw0qw5B2GYrTYNstfcevwAxy6PsXDRkCPpi0K0FuZHJldyBSdXNz
ZWxsIDxhaHIxMjAxMkBteW1haWwucG9tb25hLmVkdT6JAT0EEwEKACcFAlHT1l0C
Gy8FCQeGH4AFCwkIBwMFFQoJCAsFFgIDAQACHgECF4AACgkQCxBMWXRQePqBJAf/
b+l0bh41BPXyzmtWxjxHb/M1p6hGyuoVbj3ZJu2D52lx7og3FGPzoWxOAaZiYQXK
H9QH2fLBHLlhQ8GktLkdE3AgRjzYQBWaZTLSGBZ0Ca3ipM/G6bARoVDJYWULprgj
+pba5b3xonYBw5eKskq3QAxltf2VWuq9TEEwsiCOHMLvMXLvGfStuuOdf5PYfA13
mzJ/eew6qDGUM7Vfoz6u6ThvSYNCCRRW3NKajobkqH8yFstDF4RmVknikvslaI+E
mCVCs4yoBxcskVNNbYI5ToFbupq2K88fF+UM7ZMfXjl+FlhhW9LPj9H7SMZ/1C+O
JtZJTY3xgtmSMWGEI5HGjbkBDQRR09PlAQgAzwUH4H82qv81VIUUGSea7699oQ3n
FaK8TacEyG+QUnFmsgyegDhzv8/IUTEWVexALRMWiEpyDmPx4qCcJVlBsUugogqE
ctNFcSjGkkcwxCxvn00FFv2ufB+mmLoP4TDHuDyYQIVRigrWn5m0V3EnjTkE5C6v
2BBFilEWls10GCoNQO0dyPa5ihl03O9tAN5WeqmIuGzAC6o61Febf3pU+pTuygVO
vADZfNaL0/vDHGCyN+qTr+ODLdxn1imMRO5Tlyf0r9qXxZIapyJOLJuaZzYnbomk
KARskx96drMP461sluSGShnphb4rlzKKztCyRAHti3FiCOFnC6p8gdGwpwARAQAB
iQJEBBgBCgAPBQJR09PlAhsuBQkHhh+AASkJEAsQTFl0UHj6wF0gBBkBCgAGBQJR
09PlAAoJEGs8tGBmyUFTyu8H/23AeLV0lKNWjk5dkjqPNK9mMVVqAqyGoMRKUbP8
Wt1qXfvLkJZu03Lbgg2g0SB96JhT/WGWpuZuuR2xnLwQDaQwDVSzPpRvNh/H1hah
O+5Znn/3QnvSEodpusBUaT4kct4YZfkbSb0HmwGzTfmBMqlISYt2YLzVijUnuf2q
KJPwsupd/yo3etLcDbHVVnde2p5m/vCpAENqV8Ut+tbzKK9WBK2iOwUTtt6G24ZV
RT8laIQK8vRgQiqPq/5nTTV5DDZJL9p07UpT4eoPUwhXKkz6H+xoIbflokeDl50v
LnlS7ATGHEgPBKs8ZkDpT3vio/0xW/mrIDPtI+R+qxL6VsAgVgf/b2cnROm0bDOp
b77RNN711JjS9s/wJQ6RRhIgeT4Kd8UpGbk203icw7qq9KcsZD2whCGMAliRZQCt
7aXAoNBNvyUG1Wj2xNcK1auMkHj0GuzEeUzJHAQDF8ndkXBSyyQLUOWBcEINsyUH
q7kAVu5AGcXgx19FjoS24V8zgZVxoVfXq3icNfZg4fzOmZPRjOwrKElOMtD57tIy
BBM8jfW7wJy+kdjIt/ZZvlh28lwszDY6hXqpau9K6EVTQTawskBeVYGYlvwuEeLg
JOXtkLAWupQnkqjZV/gx1Lwia4IBEbFDG7g0JIdLuJ3qz9ivE/ET/UEg951PoEcr
arMzzAITnA==
=Eifm
-----END PGP PUBLIC KEY BLOCK-----
    </pre>
</div>
{% endblock %}
