{% extends "post.html" %}

{% block title %}
Andrew Russell
{% endblock %}

{% block main %}
<div class="title page-header"><h3>First Post</h3> <span class="post_time_stamp">03 August 2013</span></div>
        <div class="body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices justo eu nunc viverra, vel lobortis nunc pretium. Vivamus convallis elit arcu, ut tincidunt mi aliquet ac. In mattis nulla placerat, viverra justo at, tempor augue. Donec congue dolor ac turpis accumsan volutpat. Praesent vitae volutpat nulla, ac gravida tellus. Integer sagittis nunc in ligula aliquet, a pharetra erat laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris nec hendrerit elit. Nullam ut quam ac urna ultricies laoreet.
        </div>
{% endblock %}
