{% extends "main_layout.html" %}

{% block title %}
Projects
{% endblock %}

{% block main %}
<div class="project">
    <div class="project_title"><a href="lincoln">LincolnBot</a> <span class="details">December 2012</span></div>
    
    <div class="project_description">
        Creates "original speeches" in the style of Abraham Lincoln. 
    </div>
</div>

<div class="project">
    <div class="project_title"><a href="fifthseason">The Fifth Season</a> <span class="details">December 2012</span></div>
    
    <div class="project_description">
        Writes sheet music in a particular style (default values available from selections of Vivaldi's Four Seasons). 
    </div>
</div>
{% endblock %}
