{% extends "main_layout.html" %}

{% block title %}
Projects
{% endblock %}

{% block main %}
<div class="category_title">
    <h4>Current</h4>
</div>

<div class="category">
    <div class="project haskell">
        <div class="project_title"><a href="http://github.com/zrathustra/a-solar">A<sup>☉</sup></a> <span class="details">August 2013</span></div>
        
        <div class="project_description">
            Pathfinding through a solar system.
        </div>
    </div>
</div>

<div class="category_title">
    <h4>Previous</h4>
</div>

<div class="category">
    <div class="project python">
        <div class="project_title"><a href="lincoln">LincolnBot</a> <span class="details">December 2012</span></div>
        
        <div class="project_description">
            Creates "original speeches" in the style of Abraham Lincoln. 
        </div>
    </div>

    <div class="project python">
        <div class="project_title"><a href="fifthseason">The Fifth Season</a> <span class="details">December 2012</span></div>
        
        <div class="project_description">
            Writes sheet music in a particular style (default values available from selections of Vivaldi's Four Seasons). 
        </div>
    </div>

     <div class="project js">
        <div class="project_title"><a href="http://github.com/zrathustra/barsy">Barsy</a> <span class="details">June 2013</span></div>
        
        <div class="project_description">
            Quick conversion of Jesse Pollak's Barsy from jQuery animations to CSS3 animations with the move.js library.
        </div>
    </div>

    <div class="project haskell">
        <div class="project_title"><a href="http://github.com/zrathustra/haskeme">Haskeme</a> <span class="details">August 2013</span></div>
        
        <div class="project_description">
            Basic Scheme interpreter written in Haskell based on <i>Write Yourself a Haskell in 48 Hours</i>.
        </div>
    </div>


</div>
{% endblock %}
